.box1 {
    border: 3px dotted black;
    width: 500px;
    height: 200px;
    margin: 10px;
}
.box2 {
    border: 3px solid black;
    width: 400px;
    height: 150px;
    margin: 20px;
    padding: 10px;
}
.boxa {
    border: 3px dotted black;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    padding: 10px;
}
.boxb {
    border: 3px dotted black;
    width: 200px;
    height: 50px;
    margin: 0 auto;
}
.main {

}
