@font-face {
    font-family: "myTestFont";
    src: url('Allura-Regular.ttf');
}
.welcome {
    font-size: 50px;
    font-family: "myTestFont";
    /*Chiều cao của đối tượng*/
    height: 200px;
    /*Border của đối tượng*/
    border: 1px solid green;
    /*Cân giữa đối tượng theo chiều ngang*/
    text-align: center;
    /*Căn giữa đối tượng theo chiều ngang*/
    line-height: 200px;
}
.demo1 {
    text-transform: uppercase; /*lowercase*/
}
.demo2 {
    color: red;
    font-size: 30px;
    text-decoration: line-through;
    /*underline, overline*/
}
.demo3 {
    color: green;
    font-size: 60px;
    text-transform: uppercase;
    text-shadow: -5px -4px 3px cornflowerblue;
    /*đổ bóng*/
}