html {
    height: 100%;
    background: rgb(255,255,242);
    background: linear-gradient(180deg, rgba(255,255,242,1) 0%, rgba(251,206,138,1) 100%);
    font-size: smaller;
}
.nav ul {
    list-style-type: none;
    height: 30px;
    border-bottom: 2px solid #ffeb25;
}
.nav ul li{
    float: left;
}
.nav ul li a {
    text-align: center;
    display: block;
    width: 175px;
    padding: 2px 0;
    text-decoration: none;
    border-right: 2px solid #ffeb25;
    margin: 3px 0 3px;
    text-decoration: underline;
}
ul li a:hover {
    color: yellow;
}
body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 990px;
    background-color: white;
    margin: 15px auto;
    padding: 15px 0;
    border: 1px solid black;
    background-repeat: no-repeat;
}
section, aside, h1, h2, h3, p {
    margin: 0;
    padding: 0; }

section, aside {
    margin-top: 1.5em;
    margin-bottom: 1em; }
a { font-weight: bold; }
a:link { color: #0e8032; }
a:visited { color: #f2972e; }
a:hover, a:focus { color: blue; }
ul {
    margin-top: 0;
    margin-bottom: 1.5em; }
li {
    font-size: 95%;
    padding-bottom: .35em; }
p {
    padding-bottom: .5em; }
em { font-weight: bold; }

header {
    padding-bottom: 2em;
    border-bottom: 2px solid #ffeb25; }
header img {
    float: left;
    margin-left: 20px; }
header h2 {
    font-size: 220%;
    color: #f2972e;
    text-shadow: 2px 3px 0 black;
    margin-left: 120px;
    margin-bottom:.25em; }
header h3 {
    font-size: 130%;
    color: #0e8032;
    font-style: italic;
    margin-left: 120px; }

section {
    width: 535px;
    margin-left: 20px;
    padding-right: 25px;
    float: right; }
section h1 {
    font-size: 170%;
    margin-bottom: .35em; }
section h2 {
    font-size: 130%;}

#contact_us {
    margin-top: 1em;
}

a.date_passed {
    color: gray;
}

aside {
    border-left: 2px solid #ffeb25;
    width: 300px;
    float: right;
    padding: 20px;
    margin-right: 20px; }
aside h2 {
    font-size: 130%;
    padding-bottom: .5em; }
aside h3 {
    font-size: 100%;
    color: #0e8032;}
aside p { margin-bottom: .5em; }

footer {
    clear: both;
    border-top: 2px solid #ffeb25;
    padding-top: .7em; }
footer p {
    font-size: 80%;
    text-align: right;
    margin-right: 20px; }
