p span {
    vertical-align: 50px;
    font-size: 20px;
}

.news {
    height: 500px;
    width: 90%;
    border: 2px solid grey;
}
.img {
    height: 200px;
}
.anh {
    float: left;
}
ul{
    clear: right;
}